$c-000000: #000000;
$c-FFFFFF: #ffffff;

$c-main: $c-FFFFFF; // основной цвет фона
$c-accent: $c-000000; // акцентный цвет (цвет бренда)
$c-secondary: $c-000000; // цвет текста

$skeleton-color: #e2e8f0; // !!!
