/* Inter */
@font-face {
    font-family: 'Inter';
    font-display: swap;
    src:
        url('../fonts/Inter-Variable.woff2') format('woff2'),
        url('../fonts/Inter-Variable.ttf') format('ttf');
    font-weight: 350 900;
    font-style: normal;
}
